<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="header">
        <div class="header__overlay">

        </div>
        <div class="header__item-container">
            <img src="img.png" alt="" class="header__img">
            <h1>ADA 13 EDICION 2024</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, eligendi, aut provident tenetur eius sapiente nobis totam incidunt nisi, dolores excepturi autem amet quae fuga accusamus. Quaerat nemo nostrum neque.</p>
        </div>
    </header>
    <nav class="nav">
        <div class="nav__ul-container">
            <ul class="nav__ul">
                <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
                <li class="nav__item"><a href="#" class="nav__link link--login">Log In</a></li>
            </ul>
        </div>
        <div class="nav__logo-container">
            <img src="logo.png" alt="" class="nav__logo">
        </div>
    </nav>
    <main>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque velit nesciunt nemo laudantium reprehenderit unde vitae provident voluptatem ipsam, tempore facilis corrupti totam aspernatur dolorem consequuntur tempora pariatur consectetur ullam?
        Blanditiis magnam, voluptates expedita neque voluptate fugit quod dolore laborum eos quas. Quis optio sapiente, non laudantium eius explicabo reprehenderit, assumenda, laboriosam et ea cumque ipsam! Expedita quisquam quam facere.
        Quidem, sunt qui. Autem laborum sapiente voluptatem officiis placeat quisquam minus, libero cumque eveniet iure animi cupiditate commodi illo facere ducimus vitae dolorum dignissimos asperiores reprehenderit. Mollitia praesentium placeat delectus!
        Ipsa est illo sed quisquam. Nihil autem omnis necessitatibus repudiandae saepe ratione placeat modi corrupti asperiores alias, eaque voluptates quia? At doloremque saepe quibusdam totam assumenda nostrum molestiae commodi aut?
        Sit quasi earum perferendis nemo obcaecati! Libero incidunt similique voluptates porro! Dicta magni rem molestiae debitis ipsa? Maiores, placeat esse est similique corrupti, saepe inventore illo odit eveniet dolore eum.
        Dicta nemo incidunt consequatur assumenda nobis et suscipit iusto dolor. Totam maiores at architecto accusantium deserunt blanditiis consequatur dolorum delectus et, perspiciatis tempora optio impedit libero laboriosam possimus incidunt nostrum?
        Totam quis minus placeat! Dolorem necessitatibus eveniet exercitationem ipsum nobis pariatur unde ducimus aliquam dolore, voluptatem esse beatae vel voluptatum velit in, omnis iusto quas illum! Temporibus molestiae quia alias.
        Dolore est et totam distinctio, quasi temporibus reiciendis quibusdam harum aliquam aliquid adipisci numquam quo sequi ipsum ipsam eveniet sapiente beatae exercitationem enim quam soluta? Itaque nesciunt magni tempora beatae!
        In repellendus sapiente consequuntur optio ex repudiandae iure, voluptatem nemo, maxime quisquam odit expedita totam quod dolore dolorem illo? Magni doloribus dolorem adipisci amet repudiandae quo sint fugiat autem delectus.
        At quibusdam veritatis voluptas ducimus eius amet autem cum adipisci maxime illo cumque, aliquam harum iste, asperiores unde incidunt? Ratione ex tempore eveniet ducimus, itaque quam sit molestiae architecto quidem!
        Quidem numquam dicta optio, fugit illo perspiciatis natus omnis nemo quisquam error alias tempora porro perferendis illum sed debitis ex! Alias, laboriosam fuga est nulla temporibus nam earum praesentium quasi?
        Ex velit ducimus enim impedit corporis quis quod neque qui labore reprehenderit fugit expedita dolorum libero voluptatum alias nostrum quisquam quos, fuga tempora harum optio maiores voluptate. Fuga, reprehenderit natus.
        Obcaecati voluptatum quam accusamus repudiandae iusto nisi cum iure suscipit cupiditate, amet ex, neque magnam corporis aliquid vero minima repellendus? Assumenda molestias sapiente aperiam quaerat delectus vero nostrum rerum placeat?
        Expedita dolore facilis repellat nesciunt veniam dolor ipsam saepe aliquid quos porro fugit explicabo in alias, nulla id doloribus amet maxime est exercitationem dolorem officia minus! Laboriosam, consectetur? Ea, qui?
        Provident odit vitae asperiores placeat praesentium nulla expedita architecto deserunt. Possimus facilis, minus maxime aspernatur deserunt hic sapiente nostrum. Ducimus quia cupiditate laborum ab repellat cum eos sequi, blanditiis deserunt?
        Voluptatum provident rem esse cum qui natus aspernatur magnam consequuntur, quo saepe asperiores repellendus placeat excepturi beatae, quod ipsum impedit quibusdam, expedita non perferendis nulla nesciunt quaerat veritatis. Impedit, maiores.
        Earum iste inventore voluptas voluptatem saepe quod delectus ea! Ab assumenda blanditiis debitis dignissimos excepturi neque tempore, harum corrupti odit provident impedit, omnis amet. Quasi perspiciatis excepturi laborum ducimus ratione?
        Eveniet repellat impedit accusamus mollitia laudantium nostrum repellendus sit omnis voluptas fugiat possimus delectus, nesciunt tempora cupiditate provident deserunt. Id minus officiis saepe iste quidem molestias iure incidunt reprehenderit ullam.
        Aliquid voluptate repellendus dolor velit eum rem consequatur quibusdam expedita, recusandae soluta atque blanditiis eaque sint delectus distinctio veniam maxime dicta aliquam quasi dolore omnis facere corrupti! Assumenda, sit ducimus.
        Dolor sit optio illum non veniam, beatae aperiam harum praesentium tempore cupiditate iusto, reiciendis dolorum voluptas in quos magnam explicabo ipsam nam numquam esse cumque? Voluptatem fuga recusandae cupiditate quaerat!
        Reprehenderit, excepturi maxime dicta soluta ex modi dolorem optio dignissimos earum tempore neque quibusdam eveniet labore similique sunt rem ab quos, distinctio sapiente molestias. Quia doloremque fugiat enim ratione fugit.
        Pariatur necessitatibus illo alias corrupti! Earum sed illum dicta tempora sapiente odio, perferendis ipsam totam deleniti doloremque ex sequi sunt hic ullam omnis minus unde nihil pariatur. Magni, nam repudiandae.
        Laboriosam cupiditate qui dolore laudantium accusantium officia quae veritatis saepe maxime, quo iusto exercitationem veniam laborum natus. Ab enim corporis facere asperiores? Inventore, dolor! Aliquam praesentium facilis quibusdam ad maiores!
        Nihil, aut. Temporibus, cum corporis. Incidunt, maiores iusto, dolorem enim nihil fugiat accusamus esse aliquam in magni omnis nesciunt vero sint vitae debitis ab obcaecati. Quaerat tempora dignissimos exercitationem nihil?
        Illo, aut ad? Praesentium, ratione voluptatum molestias repudiandae maiores odio laudantium dolor, distinctio deleniti animi in aspernatur aperiam repellat illo. Ad quam nesciunt adipisci nobis ab, voluptas consectetur assumenda odit.
        Ratione quos enim totam debitis labore deleniti, minima quidem adipisci quae molestiae, sunt optio quisquam unde earum repellendus necessitatibus delectus dolor inventore quas, voluptatum ipsam provident nam! Fuga, aperiam perferendis.
        Dolorem molestiae dignissimos necessitatibus excepturi voluptates dolor nemo cumque rerum sed delectus adipisci nobis possimus, quasi, impedit provident? Repellendus, unde necessitatibus ratione pariatur eum quam beatae commodi corrupti adipisci vero?
        Nisi praesentium quis odit debitis ex in itaque placeat, excepturi dolor fuga quas quidem quo officia atque libero rerum aspernatur quasi explicabo vero fugiat deleniti. Veniam itaque quis unde quaerat.
        Ipsam eaque architecto accusamus, ex vitae, repellendus commodi molestias laborum explicabo iusto sunt autem nobis fuga pariatur maiores corporis reprehenderit ab repellat necessitatibus itaque dolore sed accusantium animi. Odit, natus?
        Odit voluptate quaerat quasi nisi ratione, labore error quis nesciunt! Molestias, quo quasi, necessitatibus nulla ab, quidem fugit totam accusamus laborum itaque perferendis placeat officiis dolorum voluptatibus odio esse at.
        Quis, aliquid. Dolorum esse sequi corrupti architecto eum exercitationem culpa quidem assumenda totam repudiandae, iste iusto ab similique veniam aliquid vero voluptate quam neque provident possimus! Impedit vitae obcaecati amet.
        Fuga recusandae expedita laudantium id ipsum vitae adipisci necessitatibus neque rerum quisquam iure, suscipit omnis qui veniam impedit, labore accusantium! Consectetur ullam rerum eveniet beatae laudantium numquam, quisquam sunt in!
        Alias laborum quam molestiae tempore aliquid incidunt exercitationem. Vitae, nisi provident odio consequatur nemo quaerat debitis nam vero dolore veritatis, facere quos dolorum voluptatum facilis. Quidem earum necessitatibus doloribus nesciunt!
        Porro nihil voluptatem eaque quas! Harum ab adipisci quos dolore esse incidunt a corporis eum obcaecati aut quasi possimus voluptates aliquam fugiat consectetur provident, itaque rerum perferendis dolorum soluta rem?
        Ex enim nostrum perspiciatis veniam in ipsam debitis reiciendis hic alias iusto. Perferendis iste iusto ratione sequi sint deserunt cumque non, ea culpa reprehenderit quae omnis, quis earum molestias dolor.
        Dolores laudantium maxime tempore, qui dolore iste repudiandae nesciunt recusandae? Exercitationem consectetur nostrum dolorum atque rerum non qui, id culpa aliquid perferendis voluptatem temporibus at, quasi aut magnam, repellendus inventore!
        Amet blanditiis error cupiditate illum! Itaque ex corporis aut quas aperiam alias. Possimus iusto labore a fugiat debitis animi, reprehenderit at quia atque perspiciatis error aperiam, libero odio eos dignissimos.
        Rem, alias veritatis velit ipsa eligendi doloribus provident obcaecati distinctio dolorum eos reprehenderit cupiditate incidunt ullam aut soluta voluptatum rerum necessitatibus autem, voluptatibus mollitia voluptate est numquam minima! Velit, iste.
        Similique officiis pariatur debitis amet minus minima sint. Harum dolore architecto consectetur fuga ut nostrum eos soluta. Consequatur voluptatum sit tempore ratione molestias, quasi nam nostrum aspernatur repudiandae, id non!
        Maxime quia facilis tenetur sapiente fuga modi eum pariatur distinctio eius vitae nam sint dolorum, nobis tempore cum provident cumque minus non similique error? Architecto fugiat et sunt corporis doloremque.
        In fugit perspiciatis hic sed eligendi necessitatibus, earum dolores voluptatum, sit enim minima consequatur ipsum. Unde neque error eligendi velit praesentium qui iusto. Suscipit odio incidunt repudiandae. Iste, ex non.
        Reprehenderit ullam mollitia vitae cum minus eos maiores architecto tempore neque repellendus magni, dolor officia quia iste dolore delectus omnis quod repudiandae possimus distinctio voluptate praesentium perspiciatis deserunt ratione! Quasi!
        Adipisci pariatur ut iusto atque provident nostrum exercitationem cupiditate iure non in quo ipsam qui dolores, suscipit tempore, consequatur et accusamus velit debitis. Cupiditate ipsam placeat impedit commodi deleniti molestiae.
        Facilis, laudantium. Adipisci et consequatur, fuga officia doloremque atque saepe veniam ipsum in reprehenderit consequuntur ex aspernatur odio quia, omnis natus libero. Facere repellendus deserunt quam reprehenderit perferendis, officia ab.
        Sunt labore doloremque facilis voluptates ut distinctio magni perferendis illo recusandae eius accusamus aliquam, quia doloribus quae mollitia rerum totam quis perspiciatis, fuga repudiandae earum vero atque. Accusantium, iure doloribus?
        Ex, culpa nostrum totam dicta ab aliquid enim porro expedita accusamus eligendi quasi voluptatem ipsum molestiae itaque officia excepturi, officiis quidem sequi incidunt! Ipsa modi earum, quae perferendis soluta voluptates?
        Excepturi tenetur expedita culpa, nulla repellat, ab in delectus nisi fugiat odit ratione eaque id dicta natus autem quisquam! Cupiditate a, blanditiis dignissimos doloremque similique vel dolorum exercitationem praesentium magni.
        Iure ut omnis neque temporibus doloremque aut aliquid repellat delectus officia voluptas corrupti beatae totam eum expedita doloribus, veritatis nulla iusto a. Quisquam ex dolorem aspernatur, officia facere aliquid autem!
        Omnis sunt sed, ullam sequi eaque repudiandae perferendis nulla incidunt exercitationem, iure commodi ipsum consequatur labore minus mollitia nihil aliquam dolorum voluptates harum! Temporibus, excepturi minima sint deleniti soluta blanditiis!
        Dolores consequatur excepturi quaerat, quia similique sed nobis, nisi hic nulla id reprehenderit obcaecati facere tenetur, architecto eius quibusdam eligendi nemo. Dicta atque repellendus ducimus. Doloremque earum corporis tempore tempora!
    </main>
</body>
</html>